#banner {
    text-align:center;
    background-color:rgb(219, 219, 219);
    

}

.bannertext{
    color: red;
    font-size: 5vw;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 0.5vh;
}