#banner {
    text-align:center;
    background-color:rgb(219, 219, 219);
    padding-top: 1px;
    height: 8vh;

}

.bannertext{
    color: red;
    font-size: 2.5vh;
    font-family: sans-serif;
    font-weight: bold;
    
}

#tophalfcontainer{
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	gap: 10px 20px;
	height: 37.5vh;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: white;
	box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
	grid-template-areas: "infobox driverpos wdcwcc";

}

#bottomhalfcontainer{
    display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	gap: 10px 20px;
	height: 37.5vh;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: white;
	box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
	grid-template-areas: "prevbut map map map nextbut";

}

#mapcontainer{
	grid-area: map;
}

#prevbut{
	grid-area: prevbut;
	font-size: 2.5vh;
	font-family: arial;
	font-weight: bold;
}

#nextbut{
	grid-area: nextbut;
	font-size: 2.5vh;
	font-family: arial;
	font-weight: bold;
}

#infobox{
	grid-area: infobox;
	box-shadow: 1px 1px 1px 1px rgb(217, 217, 217);
}

#driverpos{
	grid-area: driverpos;
	box-shadow: 1px 1px 1px 1px rgb(217, 217, 217);
	overflow-x: auto;
	overflow-y: auto;
}

#wdcwcc{
	grid-area: wdcwcc;
	box-shadow: 1px 1px 1px 1px rgb(217, 217, 217);
}

.axis line{
	stroke: black;
	stroke-width: 1.5px;
}

.line{
	pointer-events: all;
}

.team{
	opacity: 0;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}